# OS
.DS_Store
Thumbs.db

# Build
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.local
.env.vercel

# Dependencies
node_modules/

# Vercel
.vercel/

# Build artifacts
*.tsbuildinfo
*.local

# API / serverless
api/*.js
